
@media screen and (min-width: 320px) {
    .row {
        height: 100%;
    }
    .title {
        width: 100%;
        margin-top: 24px;
    }
    
    .title h1 {
        width: 100%;
        color: #E6D5B8;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }
    
    .ranking-table {
        width: 100%;
        margin-top: 44px;
    }
    
    #ranking-tb {
        width: 100%;
        color: #1F6F8B;
    }
    
    table {
        width: 100%;
    }
    
    tr {
        font-size: 24px;
    }
    
    td {
        width: 50px;
    }
    
    .back {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 20px;
        left: 32px;
    }
}