<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS G3n1u5</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/page-game-over.css">

</head>
<body> 
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-4 offset-lg-1 col-xl-3 offset-xl-2">
                <div class="game-over">
                    <h2>Fim do Jogo</h2>
                </div>
        
                <div class="score">
                    <p>score</p>
                    <h1>37</h1>
                </div>
        
                <div id="save-name">
                    <input type="text" placeholder="Digite seu nome">
                </div>
        
                <div id="save-ranking">
                    <button>
                        Salvar Ranking
                    </button>
                </div>

            </div>
    
            
        </div>

        <div class="close">
            <a href="index.html">
                <img src="../image/fechar.png" alt="Fechar">
            </a>
        </div>
        

    </div>
    
</body>
</html>